* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg, #000000, #303030);
  color: #222;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "footer footer";
}
nav {
  top: 0;
  position: sticky;
  grid-area: navbar;
  background: linear-gradient(90deg, orange, skyblue, yellow);
  color: black;
  margin: 5px 20px;
  padding: 0 0 0 30px;
  border-radius: 30px;
}
aside {
  height: calc(100vh - 42.4px);
  top: 45px;
  position: sticky;
  align-self: start;
  grid-area: sidebar;
  background-color: rgb(26, 26, 26);
  width: 290px;
  height: 90vh;
  border-radius: 20px;
  padding: 10px 0 0 0;
  justify-content: center;
}
h2 {
  color: white;
}
#dashboard-content {
  margin: 10px 0 0 0;
}
main {
  margin: 20px;
  grid-area: main;
  color: white;
  display: block;
  max-width: 1200px;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(44, 62, 80, 0.08);
}
@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }
  aside {
    position: fixed;
    width: 300px;
    display: none;
  }
  .show {
    display: block;
  }
  .menu-icon {
    width: 30px;
    cursor: pointer;
    margin: 5px;
  }
  .menu-icon span {
    display: block;
    height: 3px;
    background: white;
    margin: 5px 5px;
    border-radius: 2px;
    transition: 0.6s;
  }
  #detailsCard div {
    width: 90%;
  }
  .statsCard {
    background-color: orange;
    width: 90%;
    height: 100px;
    border-radius: 20px;
    padding: 10px;
    transition: transform 0.5s ease-out, box-shadow 0.6s ease-in;
  }
  #statsCards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
  }
  .statsCard {
    background-color: orange;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    padding: 10px;
    transition: transform 0.5s ease-out, box-shadow 0.6s ease-in;
  }
}
footer {
  top: 0;
  position: sticky;
  grid-area: footer;
  text-align: center;
  padding: 1.5rem 0;
  background: #2d6a4f;
  color: #fff;
  font-size: 1rem;
  margin-top: 3rem;
  border-radius: 0 0 12px 12px;
}
section,
.anchor-nav-bar {
  margin: 1px 5px 0 10px;
}
select,
.anchor-nav-bar {
  text-decoration: none;
  margin: 2px 10px 0 5px;
  width: 280px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  background-color: rgb(45, 45, 45);
  color: white;
  font-size: 24px;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  flex-direction: column;
}
select:hover {
  background-color: rgb(86, 86, 86);
}
.anchor-nav-bar:hover {
  background-color: rgb(86, 86, 86);
}
.anchor-nav-bar.active {
  background-color: #00bcd4;
  color: #000;
  font-weight: 600;
}

#view-property-page {
  background-color: #444;
  color: white;
  display: block;
}
#view-property-page button {
  margin: 20px;
  display: flex;
  background: #ffffff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: black;
  cursor: pointer;
  width: 100px;
  height: 40px;
}
#view-property-page button:hover {
  background: #9e9e9e;
  color: white;
}
#statsCards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}
.statsCard {
  background-color: orange;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  padding: 10px;
  transition: transform 0.5s ease-out, box-shadow 0.6s ease-in;
}
.statsCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 168, 7, 0.6);
}
.statsCard h2 {
  color: #171717;
}
.statsCard p {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

/*Details container */
#detailsCard {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 10px;
  border-radius: 15px;
  flex-wrap: wrap;
}
#detailsCard div {
  background-color: #2d2d2d;
  padding: 10px;
  width: 300px;
  border-radius: 12px;
  transition: all 0.5s ease-in;
}
#detailsCard div:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(255, 168, 7, 0.9);
}
#detailsCard div h3 {
  color: orange;
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #444;
  background: #1f1f1f;
  border-radius: 20px;
}
#detailsCard div p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
button {
  background: #444;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
button:hover {
  background: #666;
}

/* Form */
#add-property form input,
textarea {
  display: flex;
  width: 90%;
  margin: 5px 20px;
  padding: 8px;
  border-radius: 6px;
  border: none;
}
#add-property form button {
  margin: 10px 20px;
}
